@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Italic.ttf') format('truetype');
    font-weight: 200;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
}

.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: inherit;
    width: 100%;
}

/* sidebar css */
.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 240px;
    border-right: solid #cdcdcd 1px;
}

.sidebar__header {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding: 24px;
}

.sidebar__header img {  
    width: 24px;
    height: 24px;
    background-size: cover;
    background-position: center;
}

.sidebar__header h2{
    font-size: 16px;
}

.sidebar__list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 12px 12px 12px;
}

.sidebar__list .list{
    list-style: none;
    width: 100%;
}

.sidebar__list .list__item{
    width: 100%;
    margin-bottom: 4px;
}

.sidebar__list .list__item a{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.25s ease;
    color: #868686;
}

.sidebar__list .icon{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.sidebar__list .title{
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.sidebar__list .list__item .active{
    background-color: #F654a9;
    color: #fafafa;
}

.sidebar__list .list__item .active .title{
    font-weight: bold;
}

.sidebar__list .list__item .section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.sidebar__list .list__item .badge{
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #F654a9;
    border-radius: 30px;
    color: white;
    font-size: 10px;
    padding: 2px 6px;
}

.sidebar__bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px;
    margin-top: auto;
}

.sidebar__bottom a{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 12px;
    gap: 12px;
    text-decoration: none;
    color: #868686;
}

.sidebar__bottom a:hover{
    transform: scale(1.1);
    opacity: 0.9;
    color: Black;
}

.sidebar__bottom .icon{
    color: #F654a9;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar__bottom .title{
    font-size: 16px;
}

/* shrink the sidebar after click the burger button */
.sidebar {
    transition: width 0.3s ease;
}

.container {
    transition: all 0.3s ease;
}

.sidebar.collapsed {
    width: 72px; 
}

.sidebar.collapsed .sidebar__header {
    padding: 24px 0;
    justify-content: center;
}

.sidebar.collapsed .sidebar__header h2,
.sidebar.collapsed .sidebar__list .title,
.sidebar.collapsed .sidebar__list .badge {
    display: none;
}

.sidebar.collapsed .sidebar__list .list__item a {
    justify-content: center;
    padding: 12px 0;
}

.sidebar.collapsed .sidebar__list .section {
    gap: 0; 
    width: 24px;
    justify-content: center;
}

.sidebar.collapsed .sidebar__bottom a {
    justify-content: center;
}

.sidebar.collapsed .sidebar__bottom .title {
    display: none; 
}

.dashboard.collapsed .container {
    width: 100%;
}

/* container css */
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* header of container css */
.container__header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
}

.header__left, .header__right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.container__header .header__left h3{
    font-size: 20px;
    color: #F654a9;
}

.container__header .header__left span{
    font-size: 20px;
}

.container__header .icon{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__header #menu__action:hover{
    cursor: pointer;
}

.container__header img{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* content of container css */
.container__content{
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    overflow-y: auto;
    background-color: #f8f8f8;
}

.content__title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}
.overview{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 212px;
    padding: 24px;
    gap: 12px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
}

.overview__header{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.revenue{
    color: #F654a9;
    font-size: 16px;
    font-weight: bold;
}

.unit{
    color: #868686;
    font-size: 12px;
    font-weight: 200;
}
.overview__card{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 24px;
}

.card{
    width: 282px;
    height: 100%;
    padding: 16px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
}

.highlight{
     width: 282px;
    height: 100%;
    padding: 16px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    background: linear-gradient(to right, #F564A9, #FFA3CF);
}

.card__header__highlight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 36%;
}

.title__highlight{
    font-size: 13px;
    font-weight: 300;
    color: white;
}

.icon__highlight{
    padding: 8px;
    font-size: 20px;
    background-color: #feb9da;
    border-radius: 100%;
    color: white;
}

.value__highlight{
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.text__highlight{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.increase__highlight{
    font-size: 10px;
    padding: 2px 6px;
    background-color: #f997c6;
    border-radius: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.text__highlight span{
    font-size: 10px;
    color: white;
    font-weight: 600;
}

.card__header{
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__header .title{
    font-size: 13px;
    font-weight: 300;
    color: #868686;
}

.card__header .icon{
    padding: 8px;
    font-size: 20px;
    background-color: #f3f3f3;
    border-radius: 100%;
    color: #aeaeae;
}

.card__data{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 16px;
}

.card__data .value{
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.card__data .text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.increase{
    font-size: 10px;
    padding: 2px 6px;
    background-color: #daf7d9;
    border-radius: 12px;
    color: #08CB00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.decrease{
    font-size: 10px;
    padding: 2px 6px;
    background-color: #fde2df;
    border-radius: 12px;
    color: #ed3f27;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.card__data .text span{
    font-size: 10px;
    color: black;
    font-weight: 600;
}

.chart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 248px;
}

.chart__pie{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-direction: column;
    width: 344px;
    height: 100%;
    padding: 24px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
}

.chart__bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-direction: column;
    width: calc(100% - 344px);
    height: 100%;
    padding: 24px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
}

.chart .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20px;
}

.chart .header p{
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.chart .header .icon{
    font-size: 20px;
    color: black;
}

#pie, #bar{
    width: 100%;
    height: 164px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table{
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 16px;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 24px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
}

