@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Italic.ttf') format('truetype');
    font-weight: 200;
}

/* header of container css */
.container__header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
}

.header__left,
.header__right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.container__header .header__left h3 {
    font-size: 20px;
    color: #F654a9;
}

.container__header .header__left span {
    font-size: 20px;
}

.container__header .icon {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__header #menu__action:hover {
    cursor: pointer;
}

.container__header img {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}