
.--text-left
{
    text-align: left;
}
.--text-right
{
    text-align: right;
}

.--text-center
{
    text-align: center;
}

.--bg-trans
{
    background-color: transparent !important;
}

.--pointer 
{
    cursor: pointer;
}

.--size16
{
    font-size: 16px;
}

.--size64 
{
    font-size: 64px;
}

.--weight600
{
    font-weight: 600;
}
.--weight700
{
    font-weight: 700;
}

.--size44
{
    font-size: 44px;
}
.--size20
{
    font-size: 20px;
}

.--size12
{
    font-size: 12px;
}

.--no-border
{
    border: none;
}

.--no-outline
{
    outline: none;
}

.--p8
{
    padding: 8px;
}
.--p24
{
    padding: 24px;
}