

.main__filter
{
    width: 100%;
    max-width: 200px;
    height: fit-content;
    /* max-height: 500px; */
    /* overflow-y: scroll; */
    display: flex;
    flex-direction: column;
    padding: 12px;
    border: 1px solid var(--c5);
    scrollbar-width: thin; 
    scrollbar-color: var(--c3) transparent;
}




.main__filter .main__filter-heading 
{
    font-size: 20px;
    padding: 10px 0;
}


.main__filter .main__filter-content
{
    width: 100%;
}

.main__filter-content .main__filter-form
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.main__filter-form .main__filter-form-line 
{
    width: 100%;
    height: 1px;
    background-color: var(--c3);
}

.main__filter-form fieldset
{
    border: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main__filter-form fieldset label 
{
    font-size: 13px;
    display: flex;
    gap: 12px;
    user-select: none;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.main__filter-form fieldset label input 
{
    accent-color: var(--c6);
}

.main__filter-form fieldset legend 
{
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 8px;
    text-align: left;
}


.main__filter-form fieldset ul 
{
    width: 100%;
    display: flex;
    gap: 4px;
}

.main__filter-form fieldset ul li i 
{
    font-size: 13px;
}


.main__filter-form .main__filter-form-actions
{
    display: flex;
    gap: 12px;
}

.main__filter-form .main__filter-form-actions button:nth-child(1) 
{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--c6);
    cursor: pointer;
}
.main__filter-form .main__filter-form-actions button:nth-child(2) 
{
    flex: 1;
    padding: 8px 12px;
    background-color: var(--c6);
    color: var(--c10);
    border: 1px solid var(--c6);
    border-radius: 10px;
    cursor: pointer;
}