.footer 
{
    width: 100%;
    background-color: var(--c1);
    color: var(--c6);
    padding: 3rem 5%;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__top 
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
}

/* ===== COL 1 ===== */
.footer__top-col1 
{
    display: flex;
    flex-direction: column;
    gap: 24px;    
}

.footer__top-col1-top 
{   
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__top-col1-top-logo 
{
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer__top-col1-top-logo i 
{
    font-size: 24px;
    color: var(--c6);
}

.footer__top-col1-top-logo h3 
{
    font-size: 20px;
    color: var(--c6);
    font-weight: 600;
}

.footer__top-col1-top p 
{
    font-size: 14px;
    color: var(--c5);
}

.footer__top-col1-bottom 
{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__top-col1-bottom h3 
{
    font-size: 16px;
    font-weight: 600;
}

.footer__top-col1-bottom p 
{
    font-size: 14px;
    color: var(--c5);
}

/* ===== COL 2 ===== */
.footer__top-col2
{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__top-col2 h3 
{
    font-size: 16px;
    font-weight: 600;
}

.footer__top-col2 ul 
{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__top-col2 li 
{
    font-size: 14px;
    color: var(--c5);
}

/* ===== COL 3 ===== */
.footer__top-col3
{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__top-col3 h3 
{
    font-size: 16px;
    font-weight: 600;
}

.footer__top-col3 ul 
{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* .footer__top-col3 li 
{
    
} */

.footer__top-col3 a 
{
    text-decoration: none;
    color: var(--c5);
    font-size: 14px;
    transition: color 0.3s ease;
}

.footer__top-col3 a:hover 
{
    color: var(--c9);
}

/* ===== COL 4 ===== */
.footer__top-col4 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__top-col4-form 
{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__top-col4-form h3 
{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

.footer__top-col4-form input 
{
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid var(--c5);
    background-color: transparent;
    color: var(--c6);
    outline: none;
}

.footer__top-col4-form input::placeholder 
{
    color: var(--c5);
}

.footer__top-col4-form button 
{
    padding: 12px 16px;
    border: none;
    border-radius: 6px;
    background-color: var(--c6);
    color: var(--c5);
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.footer__top-col4-form button:hover 
{
    background-color: var(--c5);
    color: var(--c6);
}

.footer__line 
{
    width: 100%;
    height: 1px;
    background-color: var(--c3);
}

.footer__bottom 
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.footer__bottom .footer__bottom-logos 
{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.footer__bottom-logos a 
{
    border-radius: 50%;
    border: 1px solid var(--c5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    text-decoration: none;
    transition: .3s ease;
}

.footer__bottom-logos a i 
{
    font-size: 16px;
    color: var(--c6);
}

.footer__bottom-logos a:hover 
{
    background-color: var(--c6);
    border: 1px solid var(--c6);
}

.footer__bottom-logos a:hover i 
{
    color: var(--c5);
}

