



.header 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100% ;
    height: 120px;
    padding: 0 24px;
    background-color: var(--c10);
    border-bottom: 1px solid var(--c5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: var(--bx1);
}

.header.active 
{
    height: fit-content;
}

.header-cart
{
    position: absolute;
    top: 48px;
    right: 118px;
    border-radius: 10px;
    border: 1px solid var(--c3);
    padding: 8px;
    background-color: var(--c10);
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
}

.header-cart ul 
{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    height: fit-content;
    padding: 8px;
    
}

.header-cart ul li 
{
    width: 100%;
    
}

.header-cart ul li .item 
{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;

} 

.header-cart ul li .item p:nth-child(2)
{
    font-size: 14px;
}
.header-cart ul li .item p:nth-child(3)
{
    font-size: 16px;
    padding-left: 8px;
}



.header-cart ul li .item .img-container
{
    width: 55px;
    height: 55px;
    overflow: hidden;
    border-radius: 10px;

}

.header-cart ul li .item .img-container img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-cart .sub-info
{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px 8px;
    justify-content: space-between;
}

.header-cart .sub-info p 
{
    font-size: 13px;
    color: var(--c4);
    
}



.header-cart .sub-info a 
{
    padding: 8px 8px;
    font-size: 15px;
    color: var(--c10);
    background-color: var(--c6);
    border-radius: 8px;
}

.header-cart .sub-info a:hover
{
    color: var(--c10);
}




.nav 
{
    width: 100%;
    background-color: var(--c10);
}

.nav .nav__top
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

.nav__top .nav__top-logo
{
    display: flex;
    align-items: center;
    gap: 16px;
    height: 100%;
    cursor: pointer;
    /* background-color: red; */
}

.nav__top .nav__top-logo .nav__logo-img 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 100px;
    border: 2px solid var(--c10);
    box-shadow: var(--bx1);
}
.nav__top .nav__top-logo .nav__logo-img img
{
   width: 150%;
   height: 150%;
   object-fit: cover;
   
}


.nav__top-logo h1 
{
    font-size: 24px;
    background: linear-gradient(45deg, var(--c6), var(--c6));
    background-clip: text;
    color: transparent;
    user-select: none;
}

.nav__top .nav__top-input
{
    height: 100%;
    width: 100%;
    max-width: 650px;
}

.nav__top-input form 
{
    width: 100%;
    display: flex;
}

.nav__top-input input 
{
    font-size: 16px;
    padding: 12px 24px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-left: 1px solid var(--c3);
    border-top: 1px solid var(--c3);
    border-bottom: 1px solid var(--c3);
    width: 75%;
}

.nav__top-input input::placeholder
{
    font-size: 16px;
    color: var(--c3);
}

.nav__top-input button 
{
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    width: 25%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-right: 1px solid var(--c3);
    border-top: 1px solid var(--c3);
    border-bottom: 1px solid var(--c3);
    background-color: var(--c6);
    font-size: 16px;
    border: 1px solid var(--c6);
    color: var(--c10);
    cursor: pointer;
}


.nav__top .nav__top-actions
{
    /* height: 100%; */
}

.nav__top-actions ul 
{
    display: flex;
    gap: 24px;
    color: var(--c4);
}

.nav__top-actions ul li 
{
    cursor: pointer;
}


.nav__top-actions ul li:hover 
{
    color: var(--c6);
}

.nav__top-actions ul li a:hover
{
    color: var(--c6);
}

.nav__top .nav__top-actions .hovercart:hover .header-cart 
{
    visibility: visible;
    opacity: 1;
}

.nav__top-actions ul li:nth-child(2)
{
    position: relative;
    /* background-color: red; */
}

.nav__top-actions ul li:nth-child(2) .notif-count
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8px;
    right: -4px;
    background-color: var(--c6);
    color: var(--c10);
    font-weight: bold;
    width: 15px;
    height: 15px;
    font-size: 10px;
    border-radius: 100px;
    border: 1px solid var(--c6);
}


.nav__line 
{
    width: 100%;
    height: 1px;
    border-radius: 100px;
    background-color: var(--c3);
}

.nav__bottom
{
    width: 100%;
}

.nav__bottom ul 
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 12px 0;
    font-weight: 550;
    cursor: pointer;
}

.nav__bottom ul li 
{
    color: var(--c6);
}

.nav__bottom ul li
{
    color: var(--c6);
}

.nav__bottom ul li a.active 
{
    color: var(--c6);
}
.nav__bottom ul li a
{
    color: var(--c4);
    text-transform: capitalize;
}
.nav__bottom ul li a:hover
{
    color: var(--c6);
}