.product
{
    width: 240px;
    height: fit-content;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid var(--c5);
    display: flex;
    flex-direction: column;
}


.product__top
{
    width: 100%;
    height: 40%;
    background-color: rgb(101, 145, 255);
}



.product__top .product__image
{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.product__image img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.product__mid
{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    height: 40%;
    padding: 0 8px;
    /* margin-bottom: 10px; */
    /* background-color: rgb(242, 95, 255); */
}

.product__mid h3 
{
    width: 100%;
    text-align: left;
    color: var(--c1);
    font-size: 20px;
    font-weight: 500;
    padding: 8px 0;
}

.product__mid-sub1
{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: -12px;
}

.product__mid-sub1-stars
{
    display: flex;
    gap: 4px;
}

.product__mid-sub1-stars i 
{
    font-size: 13px;
    color: var(--star);
}

.product__mid-sub1 p
{
    font-size: 13px;
    color: var(--c3);
}

.product__mid-sub2
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
}

.product__mid-sub2 p:nth-child(1)
{
    font-weight: 800;
    color: var(--c6);
    font-size: 20px;
}

.product__mid-sub2 p:nth-child(2)
{
    font-size: 13px;
    color: var(--c3);
}



.product__bottom
{
    width: 100%;
    height: 20%;
    padding: 8px;
    /* background-color: blue; */
}

.product__bottom-actions 
{
    width: 100%;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
}

.product__bottom-actions button:nth-child(1)
{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--c6);
    cursor: pointer;
}


.product__bottom-actions button:nth-child(1) i
{
    font-size: 24px;
    font-weight: bold;
}

.product__bottom-actions button:nth-child(2)
{
    flex: 1;
    background-color: var(--c6);
    color: var(--c5);
    border: 2px solid var(--c6);
    border-radius: 50px;
    padding: 8px 12px;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
    transition: .1s ease;
}

.product__bottom-actions button:nth-child(2):hover 
{
    background-color: var(--c10);
    color: var(--c6);
}