

.scroll-to-top-btn
{
    position: fixed;
    bottom: 24px;
    right: 24px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid var(--c10);
    background: var(--c6);
    color: var(--c10);
    font-size: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    box-shadow: var(--bx1);
    transition: 0.3s ease;
}


.scroll-to-top-btn.active 
{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    /* transform: translateY(0); */
}