

.voucher 
{
    width: 400px;
    height: 180px;
    display: flex;
    background-color: var(--c10);
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--c5);
}

.voucher__left 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding: 12px 24px;
    gap: 4px;
    background-color: var(--c9);
    border-right: 2px dashed var(--c10);
    
}

.voucher__left p 
{
    width: 100%;
    text-align: left;
    color: var(--c10);
    display: flex;
    gap: 8px;
    align-items: center;
    
}

.voucher__right
{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    transform: rotate(-90deg);
    transform-origin: center;
    padding: 12px;
    
}

.voucher__right button
{

    transform-origin: center;
    white-space: nowrap;
    font-size: 20px;
    color: var(--c6);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.voucher__right button:hover 
{
    text-decoration: underline;
}

.voucher__right p
{
    transform-origin: center;
    white-space: nowrap;
    font-size: 13px;
    color: var(--c3);
}