:root 
{
    --c1: #1C1C1C;
    --c2: #A4A4A4;
    --c3: #ACACAC;
    --c4: #858585;
    --c5: #ECECEC;
    --c6: #F49FB6;
    --c7: #F4D2D2;
    --c8: #FAF8F0;
    --c9: #A6E0DE;
    --c10: #ffffff;
}

.--color1 { color: var(--c1); }
.--color2 { color: var(--c2); }
.--color3 { color: var(--c3); }
.--color4 { color: var(--c4); }
.--color5 { color: var(--c5); }
.--color6 { color: var(--c6); }
.--color7 { color: var(--c7); }
.--color8 { color: var(--c8); }
.--color9 { color: var(--c9); }
.--color10 { color: var(--c10); }
