@import url('../index.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

body {
    height: 100vh;
}

.categories__add__product,
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: inherit;
    width: 100%;
}

/* container css */
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container__content {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    overflow-y: auto;
    background-color: #f8f8f8;
}

.content__header {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 24px;
    gap: 12px;
}

.content__header a {
    text-decoration: none;
    font-size: 20px;
}

.content__title {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.content__body {
    display: flex;
    width: 100%;
    height: 498px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
}

.add__product__form {
    display: flex;
    width: 463px;
    height: 100%;
    justify-content: start;
    align-items: start;
    gap: 12px;
    padding: 24px;
    flex-direction: column;
}

.two__column__input {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.form__input {
    width: 100%;
    height: 60px;
    gap: 4px;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.description {
    height: 100%;
}

.form__input p {
    font-size: 13px;
    font-weight: 400;
    color: #f564a9;
}

.form__input input,
.form__input select {
    padding: 8px 12px;
    border-radius: 24px;
    border: solid 2px #e4e4e4;
    color: #858585;
}

.form__input #product__description {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    resize: none;
    border-radius: 12px;
    padding: 12px;
    border: 2px solid #e4e4e4;
    transition: 0.3s;
}

.form__input #product__description:focus {
    border-color: #f564a9;
    outline: none;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #f564a9;
    outline: none;
}

.choose__product__img {
    display: flex;
    height: 100%;
    width: 473px;
    justify-content: center;
    align-items: start;
    gap: 10px;
    padding: 24px;
    flex-direction: column;
}

.choose__product__img__title {
    font-size: 16px;
    color: #f564a9;
    font-weight: bold;
}

.img__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.img__item {
    width: 100%;
    /* Tỷ lệ 1:1 (hình vuông) */
    aspect-ratio: 1 / 1;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    background-color: #f0f0f0;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.2s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.img__item:hover {
    box-shadow: 0 0 0 2px #F654a9;
}

.img__item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.add__img {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #F654a9;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
}

.add__img:hover {
    background-color: rgba(246, 84, 169, 0.05);
}

.add__img ion-icon {
    font-size: 30px;
    color: #F654a9;
}

.content__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 44px;
}

.bottom__title {
    color: #f564a9;
    font-size: 13px;
    font-weight: 200;
    width: 100%;
}

.bottom__button{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    gap: 12px;
    font-size: 16px;
}

.cancel{
    text-decoration: none;
    font-weight: 200;
    border-radius: 24px;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    padding: 12px 24px;
    color: black;
}

.add{
    text-decoration: none;
    font-weight: bold;
    border-radius: 24px;
    background-color: #f564a9;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    padding: 12px 24px;
    color: white;
}

.cancel:hover{
    background-color: #ececec;
}

.add:hover{
    background-color: #e14d95;
}