@import url('../index.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.login__form {
    width: 460px;
    padding: 32px;
    background-color: #ffffff;
    border-radius: 24px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    text-align: center;
    border: 1px solid #bcbcbc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

/* Header of form css */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.header__title {
    font-size: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__role {
    font-size: 16px;
    margin-left: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-weight: normal;
}

.header__text {
    font-size: 16px;
    font-weight: 400;
    color: #626262;
}

/* Form css */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 396px;
    gap: 16px;
}

.form__input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form__input input {
    width: 100%;
    border-radius: 30px;
    border: 2px solid #bcbcbc;
    height: 40px;
    padding: 8px 16px;
    outline: none;
    font-size: 14px;
}

.form__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.form__option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.form__checkbox {
    display: flex;
    align-items: center;
}

.form__checkbox .checkbox {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.form__checkbox p {
    font-size: 12px;
    font-style: italic;
}

.form__text {
    font-size: 12px;
    font-style: italic;
    text-decoration: none;
    color: #626262;
}

.form__text:hover {
    text-decoration: underline;
}

.form__button {
    background-color: #f564a9;
    width: 100%;
    height: 40px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    transition: 0.2s ease;
}

.form__button:hover {
    background-color: #e14d95;
}

.form__end {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 12px;
    color: #868686;
    font-size: 16px;
}

.form__end::before,
.form__end::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #868686;
}


/* Bottom of form css */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.footer__container__icon img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    transition: 0.2s ease;
}

.footer__container__icon i {
    font-size: 24px;
    object-fit: contain;
    transition: 0.2s ease;
    color: blue;
}

.footer__container__icon:hover img,
.footer__container__icon:hover i {
    transform: scale(1.1);
    opacity: 0.9;
}

.footer__text {
    font-size: 14px;
    color: #626262;
}

.footer__text a {
    color: #f564a9;
    text-decoration: none;
    font-weight: 500;
    margin-left: 4px;
}

.footer__text a:hover {
    text-decoration: underline;
}

img {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: solid white 2px;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.08);
}