@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Italic.ttf') format('truetype');
    font-weight: 200;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
}

.order, .main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: inherit;
    width: 100%;
}

/* Container css */
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* css for main content in container */
.container__content {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
    overflow-y: auto;
    background-color: #f8f8f8;
}

/* content's header css */
.content__header{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 24px;
    gap: 12px;
}

.content__header a{
    text-decoration: none;
    font-size: 20px;
}

.content__title{
    font-size: 20px;
    font-weight: bold;
    color: black;
}

/* Order and order's infomation css */
.orders{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    background-color: white;
    width: 100%;
    height: 190px;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
}

.orders__img{
    height: 100%;
    width: 190px;
    padding: 12px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.orders__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #fafafa;
}

.orders__status{
    position: absolute;
    padding: 2px 6px;
    border-radius: 12px;
    font-size: 10px;
    font-weight: 500;
    color: white;
    background-color: #f564a9;
    bottom: 20px;
    right: 20px;
}

.orders__info{
    height: 100%;
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: start;
    align-items: start;
}

.orders__name{
    font-size: 24px;
    font-weight: bold;
    color: #f564a9;
    display: flex;
    gap: 12px;
    width: 100%;
}

.orders__id{
    background-color: #f564a9;
    color: white;
    border-radius: 24px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
}

.orders__price{
    font-size: 16px;
    font-weight: 100;
}


/* Customer infomation css */
.customer{
    width: 100%;
    height: 424px;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 24px 12px;
    gap: 12px;
    border-radius: 12px;
}

.customer__name{
    font-size: 24px;
    font-weight: bold;
}

.customer__info{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 100;
}

/* total price css */
.total{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 12px;
    background-color: white;
}

.total__price{
    color: #f564a9;
}