@import url('../index.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

body {
    height: 100vh;
}

.order__details, .main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: inherit;
    width: 100%;
}

/* Container css */
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* css for main content in container */
.container__content {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 8px;
    padding: 0 24px 0 24px;
    overflow-y: auto;
    background-color: #f8f8f8;
}

/* content's header css */
.content__header{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 24px;
    gap: 12px;

    position: sticky;
    top: 0; /* Đảm bảo nó dính ngay tại mép trên của vùng cuộn (container__content) */
    z-index: 10;
    background-color: #f8f8f8;
    
    /* Thêm padding-top đã bị xóa ở phần tử cha vào đây */
    padding: 36px 24px 24px 12px;
}

.content__header a{
    text-decoration: none;
    font-size: 20px;
}

.content__title{
    font-size: 20px;
    font-weight: bold;
    color: black;
}

/* Order and order's infomation css */
.orders{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    background-color: white;
    width: 100%;
    height: 190px;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
}

.orders__img{
    height: 100%;
    width: 190px;
    padding: 12px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.orders__img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #fafafa;
}

.orders__status{
    position: absolute;
    padding: 2px 6px;
    border-radius: 12px;
    font-size: 10px;
    font-weight: 500;
    color: white;
    background-color: #f564a9;
    bottom: 20px;
    right: 20px;
}

.orders__info{
    height: 100%;
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: start;
    align-items: start;
}

.order-sumary{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.order-sumary__details{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 12px;
    flex-direction: column;
}

.order-sumary__total{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100%;
    margin-top: 20px;
}


.orders__name{
    font-size: 24px;
    font-weight: bold;
    color: #f564a9;
    display: flex;
    gap: 12px;
    width: 100%;
}

.orders__id{
    background-color: #f564a9;
    color: white;
    border-radius: 24px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
}

.orders__price, .orders__ship-fee, .orders__voucher{
    font-size: 16px;
    font-weight: 100;
}

.total__price{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: end;
    align-items: end;
}

/* Customer infomation css */
.customer{
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 24px 12px;
    gap: 12px;
    border-radius: 12px;
}

.customer__name{
    font-size: 24px;
    font-weight: bold;
}

.customer__info{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 100;
}

.info-detail{
    font-weight: 500;
}

