@import url('../index.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}

.reset__password { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset__password__form { 
    width: 460px;
    padding: 32px;
    background-color: #ffffff;
    border-radius: 24px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.header__title {
    font-size: 24px;
    color: #f564a9;
    font-weight: 700;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.form__input {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.form__input input[type="password"] {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border: 2px solid #e4e4e4;
    border-radius: 24px;
    font-size: 16px;
    transition: 0.3s;
}



/* Checkbox Option */
.form__checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #4a4a4a;
}

.form__checkbox input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.form__button {
    background-color: #f564a9;
    width: 100%;
    height: 40px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    transition: 0.2s ease;
}

.form__button:hover {
    background-color: #e14d95;
}

img{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}