@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800&display=swap');
@import url('./components/header.css');
@import url('./components/footer.css');
@import url('./components/product.css');
@import url('./components/voucher.css');
@import url('./components/filter.css');
@import url('./color/color.css');
@import url('./elements/elements.css');
@import url('./pages/Home.css');
@import url('./pages/Products.css');
@import url('./pages/Contact.css');
@import url('./pages/Blog.css');
@import url('./pages/Voucher.css');
@import url('./pages/ProductDetail.css');
@import url('./pages/Cart.css');
@import url('./pages/Profile.css');
@import url('./pages/Inform.css');
@import url('./pages/Payment.css');

*
{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Be Vietnam Pro', sans-serif;
   list-style: none;
   text-decoration: none;
   image-rendering: pixelated;
}

body 
{
  display: flex;
  flex-direction: column; 
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--bg);
}

/* header, main, footer 
{
  padding: 20px;
} */


