.main__blog 
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__blog-header 
{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    width: 100%;
}

.main__blog-header h2 
{
    font-size: 24px;
    width: 100%;
}

.main__blog-header p
{
    font-size: 15px;
    color: var(--c4);
}

.main__parent 
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 8px;
    padding: 0px 16px 8px 16px;
}
.main__parent article 
{
    border: 1px solid var(--c3);
    background: url('https://i.pinimg.com/1200x/2d/4a/75/2d4a75e2a75169bdd731ae2e3001e0d0.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.main__parent article::before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
}
    
.main__parent-article1
{
    grid-row: span 4 / span 4;
    grid-column-start: 1;
    grid-row-start: 4;
   

}

.main__parent-article2
{
    grid-row: span 4 / span 4;
    grid-column-start: 2;
    grid-row-start: 4;
}

.main__parent-article3 
{
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 1;
}

.main__parent-article4 
{
    grid-row: span 4 / span 4;
    grid-column-start: 3;
    grid-row-start: 1;
}

.main__parent-article5 
{
    grid-row: span 4 / span 4;
    grid-column-start: 4;
    grid-row-start: 1;
}

.main__parent-article6 
{
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 5;
}
        

.main__parent article 
{
    background-color: var(--c10);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.main__parent article h5 
{
    color: var(--c9); 
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    z-index: 1;
}

.main__parent article h3 
{
    font-size: 18px;
    line-height: 1.3;
    color: var(--c10);
    z-index: 1;
}


.main__parent article p 
{
    font-size: 14px;
    color: var(--c5);
    z-index: 1;
    font-weight: 300;
}

.main__parent article .main__parent-article-actions 
{
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__parent article .main__parent-article-actions a
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--c10);
    font-size: 20px;
    cursor: pointer;
    gap: 4px;
}

.main__parent article .main__parent-article-actions a p 
{
    font-size: 13px;
    color: var(--c5);
}


.main__parent article .main__parent-article-actions a.active 
{
    color: var(--c6);
}


.main__parent article .main__parent-article-actions button
{
    align-self: flex-start;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    background: var(--c6);
    color: var(--c10);
    font-weight: 600;
    cursor: pointer;
    z-index: 1;
}

.main__blog .main__blog-more
{
    padding: 8px 20px;
    border-radius: 6px;
    border: 1px solid var(--c5);
    outline: none;
    color: var(--c1);
    background-color: var(--c5);
    cursor: pointer;
    margin-bottom: 16px;
    transition: .1s ease;
}

.main__blog .main__blog-more:hover 
{
    background-color: var(--c10);
    color: var(--c1);
}
