.cart 
{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    padding: 24px;
}

.cart input 
{
    accent-color: var(--c6);
}



.cart__header 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__title 
{
  font-size: 32px;
  font-weight: 650;
  color: var(--c6);
}

.cart__link 
{
  font-size: 13px;
  padding: 4px 8px;
  border: 1px solid var(--c6);
  color: var(--c6);
  text-decoration: none;
  border-radius: 8px;
}

.cart__link:hover 
{
  color: var(--c10);
  background-color: var(--c6);
}
/* ////////////////////////////////////////////////////////////// */

/* =============== TABLE =============== */
.cart__table 
{
  width: 100%;
  border-collapse: collapse;
}

.cart__table th,
.cart__table td 
{
  padding: 12px 14px;
  border-bottom: 1px solid var(--c5);
  vertical-align: middle;
  font-size: 15px;
}

.cart__table-head th 
{
  background: var(--c10);
  font-weight: 600;
  color: var(--c1);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}


/* =============== PRODUCT =============== */
.cart__product 
{
  display: flex;
  align-items: center;
  gap: 12px;
}

.cart__product-thumb 
{
  border-radius: 8px;
  object-fit: cover;
}

.cart__product-name 
{
  font-weight: 600;
  color: var(--c1);
}

.cart__product-variant 
{
  color: var(--c4);
  font-size: 13px;
}

/* =============== QUANTITY INPUT =============== */
.cart__quantity-input 
{
  width: 60px;
  padding: 4px;
  border: 1px solid var(--c5);
  border-radius: 6px;
  text-align: center;
  outline: none;
  transition: 0.2s;
}
.cart__quantity-input:focus 
{
  border-color: var(--c4);
}

/* =============== REMOVE BUTTON =============== */
.cart__action 
{
  text-align: center;
}

.cart__remove-btn 
{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  color: var(--c4);
  border-radius: 6px;
  cursor: pointer;
  transition: 0.25s;
  font-size: 16px;
}
.cart__remove-btn:hover 
{
  color: #e63946;
}

/* =============== FOOTER =============== */


.cart__note 
{
  font-size: 13px;
  color: var(--c4);
  text-align: left;
  padding-top: 20px;
}

.cart__total-label 
{
  text-align: right;
  font-weight: 600;
  color: var(--c1);
}

.cart__total-value 
{
  text-align: right;
  font-weight: bold;
  color: var(--c6);
  font-size: 16px;
}

/* =============== BUTTONS =============== */

.cart__actions
{
    text-align: right;
}

.cart__actions button 
{
    padding: 8px 12px;
    border: 1px solid var(--c6);
    background-color: var(--10);
    color: var(--c6);
    border-radius: 10px;
    font-weight: 550;
    cursor: pointer;
}

.cart__actions button:hover 
{
    color: var(--c10);
    background-color: var(--c6);
}

/* =============== EMPTY CART =============== */
.cart__empty 
{
  text-align: center;
  padding: 50px 0;
  color: #666;
}
.cart__empty p 
{
  font-size: 16px;
  margin-bottom: 20px;
}
.cart__empty .cart__btn 
{
  padding: 10px 20px;
}