

.notifications
{
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.notifications .notifications-header
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.notifications-header h2 
{
    color: var(--c6);
}

.notifications-header button 
{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--c4);
    cursor: pointer;
}

.notifications-header button:hover
{
    color: var(--c6);
}

.notifications-list 
{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.notification
{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    border: 2px solid var(--c5);
    padding: 12px;
    border-radius: 10px;
}

.notification.active
{
    border: 2px solid var(--c6);
}


.notification .icon 
{
    font-size: 24px;
}

.notification .content 
{
    background-color: var(--c10);
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-left: 2px solid var(--c4);
    padding-left: 12px;
}

.notification .content span 
{
    color: var(--c4);
}