


.main__payment
{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 12px;
}

.main__payment h3 
{
    font-weight: 550;
}



.main__payment h2
{
    color: var(--c9);
    text-align: center;
    font-size: 30px;
}

.main__payment .payment__customer-info
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.main__payment .payment__customer-info li
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: 500;
    font-size: 16px;
}

.main__payment .payment__customer-info li:nth-child(1)
{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.main__payment .payment__customer-info li:nth-child(1) button 
{
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: var(--c4);
    cursor: pointer;
}

.main__payment .payment__customer-info li:nth-child(1) button:hover 
{
    color: var(--c1);
}


.main__payment .line
{
    width: 100%;
    height: 1px;
    background-color: var(--c4);
    border-radius: 10px;
    margin-top: 32px;
}

.main__payment .payment__voucher-container
{
    /* background-color: red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main__payment .payment__voucher-container h3 
{
    color: var(--c6);
}

.main__payment .payment__voucher-container .payment__choose-voucher 
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__payment .payment__voucher-container .payment__choose-voucher p 
{
    display: flex;
    gap: 8px;
    align-items: center;
}

.main__payment .payment__voucher-container .payment__choose-voucher p i 
{
    color: var(--c6);
}

.main__payment .payment__voucher-container .payment__choose-voucher button 
{
    background-color: transparent;
    color: var(--c6);
    border: none;
    cursor: pointer;
}

.payment__chosen-info 
{
    font-size: 15px;
    font-weight: 400;
}

.payment__chosen-voucher
{
    display: flex;
    gap: 12px;
    font-size: 13px;
}

.payment__voucher-info 
{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 12px;
}

.payment__method 
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.payment__method .methods
{
    display: flex;
    gap: 20px;
}

.payment__method .methods li label 
{
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid var(--c4);
    padding: 8px;
    cursor: pointer;
    transition: .3s ease;
    border-radius: 8px;
}

.methods label:has(input[type="radio"]:checked) 
{
    background-color: var(--c10);
    border: 1px solid var(--c6);
    color: var(--c6);
}

.methods input[type="radio"] 
{
  width: 14px;
  height: 14px;
  accent-color: #e0468c;
  cursor: pointer;
}


.payment__final-info 
{
  background: var(--c10);
  margin-left: auto; 
  margin-top: 20px;
  border-top: 1px solid var(--c5);
  padding: 20px;
}

.final-title 
{
  font-size: 18px;
  font-weight: 600;
  color: var(--c1);
  margin-bottom: 16px;
  border-bottom: 2px solid var(--c6);
  display: inline-block;
  padding-bottom: 4px;
}


.final-list 
{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.final-list li 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #444;
  font-size: 15px;
}

.final-list li:not(:last-child) 
{
  border-bottom: 1px dashed var(--c3);
  padding-bottom: 8px;
}

.final-list li:last-child 
{
  font-weight: 600;
  font-size: 18px;
  color: var(--c6); 
  margin-top: 10px;
}

.final-list li:last-child p:last-child 
{
  font-size: 20px;
}

.main__payment .action 
{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.main__payment .action button 
{
    padding: 12px 20px;
    border-radius: 10px;
    background-color: var(--c6);
    border: 1px solid var(--c6);
    color: var(--c10);
    cursor: pointer;
}