.main__content
{
    width: 100%;
    display: flex;
}

.main__products
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__products .main__products-ul 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: red; */
    padding: 12px 4px;
    gap: 8px;
}



.main__products .main__products-more
{
    padding: 8px 20px;
    border-radius: 6px;
    border: 1px solid var(--c5);
    outline: none;
    color: var(--c1);
    background-color: var(--c5);
    cursor: pointer;
    margin-bottom: 16px;
    transition: .1s ease;
}

.main__products .main__products-more:hover 
{
    background-color: var(--c10);
    color: var(--c1);
}