.main__product-detail 
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.main__product-detail-breadcrumb
{
    width: 100%;
}
.main__product-detail-breadcrumb ul 
{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 8px 0 8px;
}

.main__product-detail-section1 
{
    display: flex;
    width: 100%;
    height: 350px;
    padding: 24px;
    /* height: fit-content; */
}


.main__product-detail-section1 .section1-left
{
    width: 50%;
    height: 100%;
}

.section1-left .carousel
{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.carousel .carousel-counter
{
    position: absolute;
    display: flex;
    gap: 8px;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 8px 12px;
    border-radius: 8px;
}

.carousel-counter div 
{
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background-color: var(--c3);
}

.carousel-counter div.active 
{
    background-color: var(--c10);
}


.carousel button 
{
    position:absolute;
    height: 100%;
    padding: 12px;
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--c10);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.carousel button:hover
{
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel button:nth-child(1)
{
    top: 0;
    left: 0;
}

.carousel button:nth-child(2)
{
    top: 0;
    right: 0;
}

.carousel .img-container
{
    width: 100%;
    height: 100%;
}

.img-container .img-slider 
{
    width: 100%;
    height: 100%;
    background-color: var(--c4);
}

.img-slider img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.main__product-detail-section1 .section1-right
{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    justify-content: center;
}

.section1-right h3 
{
    width: 100%;
    text-align: left;
    font-size: 24px;
}

.section1-right .price 
{
    font-size: 32px;
    font-weight: 650;
    color: var(--c6);
}

.section1-right ul:nth-child(2)
{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 24px;
}

.section1-right ul:nth-child(2) li 
{
    font-size: 16px;
    color: var(--c4);
}

.section1-right ul:nth-child(4)
{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 24px;
}

.section1-right ul:nth-child(4) li 
{
    font-size: 16px;
    color: var(--c4);
}

.section1-right ul:nth-child(4) li:nth-child(2)
{
    display: flex;
    align-items: center;
    font-size: 16px;
}

.section1-right ul:nth-child(4) li:nth-child(2) p 
{
    padding: 4px 12px;
    border-top: 1px solid var(--c4);
    border-bottom: 1px solid var(--c4);
    color: var(--c1);
}

.section1-right ul:nth-child(4) li:nth-child(2) button 
{
    padding: 4px 8px;
    background-color: transparent;
    border: 1px solid var(--c4);
    font-size: 16px;
    color: var(--c4);
    cursor: pointer;
}

.section1-right ul:nth-child(4) li:nth-child(2) button:hover 
{
    color: var(--c1);
}


.section1-right ul:nth-child(4) li:nth-child(3)
{
    font-size: 13px;
}

.section1-right .actions 
{
    width: 100%;
    display: flex;
    gap: 24px;
}

.section1-right .actions button 
{
    padding: 12px 16px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    gap: 12px;
    align-items: center;
    border: 1px solid var(--c6);
    border-radius: 8px;
    font-weight: 600;
}

.section1-right .actions button:nth-child(1)
{
    background-color: var(--c10);
    color: var(--c6);
}

.section1-right .actions button:nth-child(1):hover 
{
    background-color: var(--c6);
    color: var(--c10);
}

.section1-right .actions button:nth-child(2)
{
    background-color: var(--c6);
    color: var(--c10);
}

.section1-right .actions button:nth-child(2):hover 
{
    background-color: var(--c10);
    color: var(--c6);
}

.main__product-description
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px;
    color: var(--c1);
}

.main__product-description .product-description-header
{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
}

.main__product-description .product-description-header h3 
{
    font-size: 20px;
}

.main__product-description .description
{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.main__product-rating 
{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px;
    
}

.main__product-rating .main__product-rating-header 
{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;  
}

.main__product-rating-header h3 
{
    font-size: 20px;
}


.main__product-rating .main__product-rating-filter 
{
    width: 100%;
    display: flex;
    padding: 24px;
    gap: 40px;
}

.main__product-rating-filter .filter-left
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.filter-left p 
{
    font-size: 14px;
    color: var(--c6);
}

.filter-left ul 
{
    display: flex;
    gap: 4px;
}

.filter-left ul li 
{
    font-size: 11px;
}



.main__product-rating-filter .filter-right
{
    
}
.filter-right ul 
{
    display: flex;
    gap: 24px;
}

.filter-right ul li button
{
    display: flex;
    gap: 10px;
    padding: 4px 12px;
    font-size: 13px;
    background-color: var(--c10);
    border: 1px solid var(--c4);
    color: var(--c4);
    cursor: pointer;
}

.filter-right ul li button.active 
{
    color: var(--c6);
    border: 1px solid var(--c6);
}

.main__comment
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.comment-item 
{
    display: flex;
    border-top: 1px solid var(--c5);
}


.comment-left 
{
    height: fit-content;
    padding: 12px 0;
}

.avt 
{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid var(--c4);
    overflow: hidden;
}

.avt img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.comment-right 
{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    flex: 1;
}

.comment-right-sub1
{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.comment-right-sub1 .name
{
    font-size: 16px;
}

.comment-right-sub1 ul 
{
    display: flex;
    gap: 4px;
}

.comment-right-sub1 ul li 
{
    font-size: 11px;
}

.comment-right-sub1 .date
{
    font-size: 11px;
    color: var(--c4);
}


.comment-right-sub2 
{
    width: 100%;
    font-size: 18px;
}

.comment-right-sub3 
{
    display: flex;
    gap: 12px;
}

.comment-right-sub3 .img-container 
{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid var(--c5);
}
.comment-right-sub3 .img-container img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.comment-right-sub4 
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-right-sub4 button 
{
    font-size: 13px;
    background-color: transparent;
    border: none;
    color: var(--c4);
    cursor: pointer;
}

.main__another 
{
    width: 100%;
    padding: 24px;
}

.main__another .anothers 
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    border-top: 1px solid var(--c5);
    padding-top: 12px;
}

.another-header
{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
}

.another-header h3 
{
    font-size: 20px;
}

.anothers ul 
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 24px;
}

.anothers .anothers-more
{
    padding: 8px 20px;
    border-radius: 6px;
    border: 1px solid var(--c5);
    outline: none;
    color: var(--c1);
    background-color: var(--c5);
    cursor: pointer;
    margin-bottom: 16px;
    transition: .1s ease;
}

.anothers .anothers-more:hover 
{
    background-color: var(--c10);
    color: var(--c1);
}